body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    color: #333;
    background-color: #f4f7f6;
}

header {
    background: #2c3e50;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.grid-patologia {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.tarjeta {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: center;
}

.tarjeta img {
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
}
html {
    scroll-behavior: smooth;
}
main p{
    text-align: justify;
}
table th, table td {
    text-align: center;
}